@font-face {
    font-family: "Inter";
    src: 
        url('public/fonts/Inter-VariableFont_opsz,wght.ttf') format("truetype"),
        url('public/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format("truetype");
}

@font-face {
    font-family: "Soytus";
    src:
        url('public/fonts/Soytus-Demo.ttf') format("truetype");
}

@font-face {
    font-family: "ZT Formom";
    src:
        url('public/fonts/ZT Formom.ttf') format("truetype"),
        url('public/fonts/ZT Formom Italic.ttf') format("truetype");
}

@keyframes slide-in {
    from {
        transform: translateY(-100%);
    } to {
        transform: translateY(0%);
    }
}

@media only screen and (max-width: 768px) {

    #three-pillars-cntr {
        flex-direction: column;
    }
}

html,
body {
    background-color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

section {
  position: relative;          
  overflow: hidden; 
}

#bi-list {
    position: absolute;
    left: 2vw;
    top: 2vw;
}

.navbar-btns {
    border: solid 2px #B7B7B7;
    padding: 10px 15px;
    background-color: black;
    color: #B7B7B7;
    font-size: 1.15rem;
    border-radius: 5px;
}

.navbar-btns:hover {
    color: white;
    cursor: pointer;
}

.navbar-btns:active {
    transform: scale(0.95);
}

#bi-list:hover {
    transform: scale(1.15);
    cursor: pointer;
}

/* SECTION: LANDING PAGE */

.main-app {
    display: flex;
    flex-direction: column;
}

#sase-navbar-cntr {
    position: fixed;
    margin-left: .25em;
    margin-right: .25em;
    top: 2vh;
    display: none;
    background-color: rgba(0,0,0,0.75);
    border: transparent;
    justify-content: center;
    padding: 15px 75px;
}

#sase-navbar-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

#home-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#home-btn:active {
    transform: scale(0.95);
}

#landing-page {
    height: 800px;  
}

#landing-vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;        
  z-index: 0;              
}

#landing-page-inner {
  position: relative;       
  z-index: 1;              
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0); 
  opacity: 1;
  transition: background-color 2.5s, opacity 2.5s;
}

#landing-page-inner.revealed {
  background-color: rgba(0,0,0,0.75);
  opacity: 1;
}

#landing-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#landing-img {
    pointer-events: none;
    user-select: none;
}

#landing-desc {
    color: #B7B7B7;
    text-align: center;
    width: 50vw;
    padding: 10px;
    font-size: 22px;
}

.hidden-element {
    position: relative;
    background-color: rgba(0,0,0,0);
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 2.5s ease-out, opacity 2.5s ease-in; /* Adjust duration and easing */
}

.revealed {
    background-color: rgba(0,0,0,0.5);
    height: auto; 
    opacity: 1;
}

#scroll-down-container {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100; /* Ensure it's on top */
}

#scroll-down-arrow {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
  animation: arrow-bounce 1s infinite;
}

@keyframes arrow-bounce {
  0% {
    transform: translateY(0) rotate(45deg);
  }
  50% {
    transform: translateY(10px) rotate(45deg);
  }
  100% {
    transform: translateY(0) rotate(45deg);
  }
}

.fade-target {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.fade-out {
    opacity: 0;
}

/* SECTION: SASE INFO */

#sase-info {
    background-color: #E0AD1D;
    height: 800px;  
    color: #5D480F;
}

#sase-info-header {
    margin: 5vh;
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    font-family: "Soytus";
    letter-spacing: 5px;
}

#ul-stroke {
    position: absolute;
    left: 5vw;
    top: 15vh;
}

#ul-stroke-path {
    stroke-dasharray: 905;
    stroke-dashoffset: 905;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

#welcome-cntr {
    display: flex;
    justify-content: center;
    padding: 20px;
    column-gap: 50px;
}

#welcome-polaroid {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.905);
    padding: 1rem 1rem 4rem;
}

#welcome-txt {
    margin-top: 20px;
    width: 500px;
    text-align: center;
}


/* SECTION: INTERESTED PG. 1 */

#check-out-alumni {
    background-color: black;
    height: 450px;
}

#carousel {
    width: 100%;
    overflow-x: auto;
    overflow-y: none;
    margin: 2em auto;
    display: flex;
    gap: 1em;
    justify-content: center;
}

.card {
    flex: 0 0 15em;
    height: 12em;
    background-color: #B7B7B7;
    color: black;
    width: 336px;
    height: 288px;
    border: solid 2px #B7B7B7;
    text-align: center;
    align-content: center;
}

/* NEW PAGE: STUDENT BODY OF DIRECTORS */

#sbod {
    background-color: #E0AD1D;
}

#sbod-title {
    position: absolute;
    left: 8vw;
}

#sbod-icon {
    position: absolute;
    left: 40vw;
    top: 3vh;
}

#sbod-text {
    display: flex;

    position: absolute;
    top: 60vh;
    left: 25vw;
    font-size: 22px;
    
    color: #5D480F;
}

/* SECTION: FOOTER */

footer {
    height: 200px;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(51, 50, 50, 1) 100%);
    color: #B7B7B7;
}

#link-footer {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.dot {
  height: 75px;
  width: 75px;
  background-color: transparent;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

/*
.discord {
    background-color: #5865F2;
}

.youtube {
    background-color: #E52D27;
}

.instagram {
    background-color: #DD2A7B;
}

.linktree {
    background-color: #41E760;
}
*/

.dot:hover {
    background-color: #b7b7b77d;
    cursor: pointer;
}

#footer-txt {
    opacity: 0;
}

#footer-txt:hover {
    opacity: 1;
}
